#main{
    height: 200px;
    width: 400px;
    background-color: red;
    border: 1px solid black;
    margin-top: 300px;
    

}
.clearfix{
    overflow: auto;
}
.d1{
    height: 20px;
    width: 20px;
    border: 1px solid wheat;
    border-radius: 15px;
    display: inline-block;
    animation-name: prac;
}