#main{
    height: 200px;
    width: 405px;
    margin-top: 200px;
    margin-left: 450px;
    border-bottom: 4px solid firebrick;

}

.d1{
    height: 30px;
    width: 30px;
    background-color: rgb(106, 173, 173);
    box-shadow: 3px 3px 15px rgba(179, 173, 173, 0.87);
    border-radius: 20px;
    margin-top: 165px;
    display: inline-block;
    animation-name: prac ;
    animation-duration: 10s ;
    animation-iteration-count: infinite;
}
@keyframes prac{
   0%{transform: translateY(0px); background-color: rgb(100, 173, 173);}
   10%{transform: translateX(-100px); background-color: rgba(120, 193, 193, 0.3);}
   50%{transform: translateY(-200px); background-color: rgba(140, 213, 213, 0.5);}
   90%{transform: translateX(100px); background-color: rgba(120, 193, 193, 0.3)}
   100%{transform: translateY(0px); background-color: rgb(100, 173, 173)}

}
#d1{
    animation-delay: 0s;
    
}
#d2{
    animation-delay: 0.5s;
}
#d3{
    animation-delay: 1s;
}
#d4{
    animation-delay: 0s;
}
#d5{
    animation-delay: 0.5s;
}
#d6{
    animation-delay: 1s;
}
#d7{
    animation-delay: 0s;
}
#d8{
    animation-delay: 0.5s;
}
#d9{
    animation-delay: 1s;
}
#d10{
    animation-delay: 0s;
}
#d11{
    animation-delay: 0.5s;
}
#d12{
    animation-delay: 1s;
}